{% extends 'base.html' %}

{% block meta %}
<title>Task Creation</title>
<style>
  html, body {overflow: hidden;}
  @media only screen and (max-width: 1000px) {
      .container {
          margin-top: 8vh;
      }
  }
  @media only screen and (max-width: 653px) {
      .form-outline {
          width: 95%;
      } 
      .form-control-lg{
          width: 95%;
      }
  }
  </style>
{% endblock meta %}

{% block content %}

<form method="POST" action = "">
    {% csrf_token %}
<section class="vh-100">
    <div class="container py-5 h-99">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              
  
              <h3 class="text-white mb-3">CREATE A NEW TASK!</h3>
       
              <div class="form-outline form-white mb-4">
                <input class="form-control" type="text" name="task_title" maxlength="64" required="" id="id_task_title" placeholder="Title your task!">
              </div>
  
              <div class="form-outline form-white mb-4">
                <textarea placeholder="Describe your task!" name="task_description" cols="40" rows="10" required="" id="id_task_description" spellcheck="false" class="form-control form-control-lg"></textarea>
              </div>

  
              <button class="btn btn-outline-light btn-lg px-5" type="submit" value="Create!">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>


{% endblock content %}