{% extends 'base.html' %}

 {% block content %}

  <h1>Assignment 4 PBP/PBD</h1>

  <h5>Username:</h5>
  <p>{{ username }}</p>

  <button><a href="{% url 'todolist:create_task' %}">Create a Task!</a></button>
  <table>
    <tr>
      <th>To-Do Date</th>
      <th>To-Do Title</th>
      <th>To-Do Description</th>
      <th>To-Do Finished Status</th>
      <th>Finish the Task</th>
      <th>Delete the Task</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% comment %} Add data below {% endcomment %}
    {% for item in list_item %}
        <tr>
            <th>{{item.task_date}}</th>
            <th>{{item.task_title}}</th>
            <th>{{item.task_description}}</th>
            <th>{{item.task_isfinished}}</th>
            <th><button><a href="finish/{{item.id}}">Finish Task
            </a></button></th>
            <th><button><a href="delete/{{item.id}}">Delete Task
            </a></button></th>
        </tr>
    {% endfor %}
  </table>
<h5>Last Login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
 {% endblock content %}
