{% extends 'base.html' %}

{% block meta %}
<title>To-Do List Homepage</title>
<style>
  html, body {overflow: auto;}
  .card {
    cursor: pointer;

  }
  .card:hover {
    transform: scale(1.1);
  }
  @media only screen and (max-width: 1080px) {
    .btn {
      width: 100%;
    }
    .buttext {
      font-size: 15px;
    }
    .card-footer {
      padding-left: 22px;
    }
    .button {
      padding-left: 7px;
    }
    
  }
  @media only screen and (max-width: 928px) {
    .btn {
      width: 100%;
    }
    .buttext {
      font-size: 11px;
    }
    .card-footer {
      padding-left: 15px;
    }
    .button {
      padding-left: 4px;
    }
  }
  @media only screen and (max-width: 764px) {
    .btn {
      width: 100%;
    }
    .buttext {
      font-size: 20px;
    }
    .card-footer {
      padding-left: 15px;
    }
    .button {
      padding-left: 4px;
    }
  }
  
  </style>
{% endblock meta %}
 {% block content %}
 <div class="d-flex justify-content-center align-items-center">
 
 <button class="container rounded-5 border border-5  my-5 bg-dark d-flex justify-content-center" style="width:25%; padding:1.5%;" >
  <a href="{% url 'todolist:create_task' %}" style="color:white; text-decoration: none;"><h5 class="h5" style="color: white; text-align: center;">CREATE A NEW TASK!</h5>
 </a></button>
</div>
<div class="row row-cols-1 row-cols-md-4" style="margin:5%;">
  
    {% for item in list_item %}
    <div class="col mb-4">
        <div class="card text-white bg-dark mb-3 px-3">
          <div class="card-header">Made on {{item.task_date}}</div>
          <div class="card-body">
            <h5 class="card-title">{{item.task_title}}</h5>
            <h6 class="card-subtitle mb-2">Finished Status: {{item.task_isfinished}}</h6>
            <p class="card-text">{{item.task_description}}</p>
          </div>
          <div class="card-footer"><table>
          <tr><td><button class="btn btn-outline-dark bg-dark btn-lg px-2"><a href="finish/{{item.id}}" style="color:white; text-decoration: none;"><p class="buttext">Update</p>
          </a></button></td>
          <td><button class="btn btn-outline-dark bg-dark btn-lg px-2"><a href="delete/{{item.id}}" style="color:white; text-decoration: none;"><p class="buttext">Delete</p>
          </a></button></td></tr></table></div>
        </div>
        </div>
    {% endfor %}
 {% endblock content %}
