{% extends 'base.html' %}

{% block meta %}
<title>To-Do List Homepage</title>
<style>
  .styled-table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
  }
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
  }

  .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
</style>
{% endblock meta %}
 {% block content %}

  <h1>Assignment 4 PBP/PBD</h1>

  <h5>Username:</h5>
  <p>{{ username }}</p>

  <button><a href="{% url 'todolist:create_task' %}">Create a Task!</a></button>
  <table class="styled-table">
    <tr>
      <th>To-Do Date</th>
      <th>To-Do Title</th>
      <th>To-Do Description</th>
      <th>To-Do Finished Status</th>
      <th>Finish the Task</th>
      <th>Delete the Task</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% comment %} Add data below {% endcomment %}
    {% for item in list_item %}
        <tr>
            <th>{{item.task_date}}</th>
            <th>{{item.task_title}}</th>
            <th>{{item.task_description}}</th>
            <th>{{item.task_isfinished}}</th>
            <th><button><a href="finish/{{item.id}}">Update Task
            </a></button></th>
            <th><button><a href="delete/{{item.id}}">Delete Task
            </a></button></th>
        </tr>
    {% endfor %}
  </table>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
 {% endblock content %}
